@model IEnumerable<Bootcamp_MVC_2_NUEVO.Models.Unidades>
@{
    ViewData["Title"] = "Listado de Unidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["mensaje"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["mensaje"]
    </div>
}

<h1>Listado de Unidades</h1>
<a class="btn btn-success" asp-area="" asp-controller="Crud" asp-action="Agregar">AGREGAR UNIDAD</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">@Html.DisplayNameFor(m => m.Id)</th>
      <th scope="col">@Html.DisplayNameFor(m => m.Marca)</th>
      <th scope="col">@Html.DisplayNameFor(m => m.Modelo)</th>
      <th scope="col">@Html.DisplayNameFor(m => m.Ano)</th>
      <th scope="col">@Html.DisplayNameFor(m => m.Kilometro)</th>
      <th scope="col">@Html.DisplayNameFor(m => m.Precio)</th>
    </tr>
  </thead>
  <tbody>
      @if(Model.Count() > 0)
      {
          @foreach(var value in Model)
          {
            <tr>
              <th scope="row">@value.Id</th>
              <td>@value.Marca</td>
              <td>@value.Modelo</td>
              <td>@value.Ano.Year</td>
              <td>@value.Kilometro</td>
              <td>@value.Precio</td>
              <td> <a asp-controller="Crud" asp-action="Eliminar" asp-route-id="@value.Id" class="btn btn-danger">Eliminar</a>
                  <a asp-controller="Crud" asp-action="Editar" asp-route-id="@value.Id" class="btn btn-danger">Editar</a></td> 
            </tr>
            }
        }else
        {
           <tr>
               <td colspan="5"><p>No hay Unidades</p></td>
           </tr>
        }
    </tbody>
</table>

